
  .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: rgb(255, 255, 255);
    z-index: var(--z-fixed);
  }
  .bd-grid {
    width: min(100% - 4rem, 1024px);
    display: grid;
    margin: auto;
    @media (width > 720px){
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  /*===== NAV =====*/
  .nav {
    
    height: var(--header-height);
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
  }
  @media (width < 720px){
    .nav__menu {
      position: fixed;
      top: var(--header-height);
      right: -100%;
      width: 80%;
      height: 100%;
      padding: 2rem;
      background-color: var(--second-color);
      transition: 0.5s;
    }
  }
  .nav__item {
    margin-bottom: var(--mb-4);
  }
  .nav__link {
    position: relative;
    color: #fff;
  }
  .nav__link:hover {
    position: relative;
  }
  .nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  .nav__logo {
    font-weight: bold;
    color: var(--second-color);
  }
  .nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  /*Active menu*/
  .active-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }
  
  /*=== Show menu ===*/
  .show {
    right: 0;
  }
  


  @media (width > 720px){
    .nav__list {
      display: flex;
      padding-top: 0;
    }
    .nav__item {
      margin-left: var(--mb-6);
      margin-bottom: 0;
    }
    .nav__toggle {
      display: none;
    }
    .nav__link {
      color: var(--second-color);
    }
}



  .active-link::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
  }

  a {
    text-decoration: none;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  